</div>
<!-- /End replace -->
</div>
</main>
</div>
</div>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.9.2/firebase-auth.js"></script>
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDvCxeCMTLCu3MwDEqh3o-NoUDsqAvk6q8",
    authDomain: "coreskills-d99ea.firebaseapp.com",
    databaseURL: "https://coreskills-d99ea.firebaseio.com",
    projectId: "coreskills-d99ea",
    storageBucket: "coreskills-d99ea.appspot.com",
    messagingSenderId: "595497017336",
    appId: "1:595497017336:web:3802d0507d7cabb1d9400d",
    measurementId: "G-3CDF5C4RNB"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);


</script>
</body>
