<%- include('header'); -%>
<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full">
    <div>
      <img class="mx-auto h-12 w-auto" src="/static/coreskills-logo.svg" alt="CoreSkills" />
      <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">
        Check your inbox
      </h2>
    </div>
  </div>
</div>
<script>


  function resetPassword(event) {
    let email = document.getElementById("email").value;
    let actionCodeSettings = {
      url: 'https://app.coreskills.dev/'
    };
    auth.sendPasswordResetEmail(emailAddress, actionCodeSettings).then(function () {
      window.location.assign('/reset-email-sent');
    }).catch(function (error) {
      window.alert(error);
    });
    event.preventDefault();
  }
  const form = document.getElementById("form");
  form.addEventListener("submit", resetPassword);
</script>
<%- include('footer'); -%>